p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}

.text1 {
    color: red;
    font-size: 13px;
    margin-left: 144px;
    margin-bottom: 4px;
}

.text2 {
    font-weight: bold;
    margin-left: 105px;
    margin-bottom: 1.7px;
}

.text3 {
    font-weight: bold;
    font-size: 28px;
}

.text4 {
    margin-left: 120px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.buy-button {
    background-color: rgb(15, 98, 213);
    color: white;
    border: none;
    border-radius: 12px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    margin-left: 136px;

}