p {
    font-family: 'Space Mono', monospace;
    margin-top: 0;
    margin-bottom:0;
}

.title {
    font-weight: bold;
    font-size: 19px;
    width: 380px;
    line-height: 23px; /*change the space between the lines*/
}

.stats {
    font-size: 13.9px;
    color: rgb(56, 52, 52);
    margin-top: 4px;
}

.author {
    font-size: 13.9px;
    color: rgb(56, 52, 52);
    margin-top: 17px;
    margin-bottom: 17px;
}

.text-description {
    font-size: 13.9px;
    margin-bottom: 17px;
    color: rgb(56, 52, 52);
    width: 380px;
    line-height: 18.3px;
}

.final-message{
    background-color: rgb(222, 34, 34);
    color: white;
    font-size: 13.9px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.check-link {
    cursor: pointer;    

}

.check-link:hover {
    text-decoration: underline;
    margin-left: 10px;
}