p {
    font-family: arial;
    margin-bottom: 0;
    margin-top: 0;
 }

 .text1 {
    font-size: 20px;
    margin-bottom: 1px;
 }

 .currency {
    font-size: 10px;
    color: gray;
 }

.text2 {
    color: rgb(6, 160, 6);
    font-size: 9px;
    margin-bottom: 2px;
}

.text3 {
    color: gray;
    font-size: 9px;
}

.result {
    color: red;
}

