.tahoma-text {
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
}

.arial-title {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.arial-description {
    font-family: arial;
    font-size: 13px;
    margin-top: 3px;
    font-style: italic;
    color: rgb(240, 0, 0);
}

.verdana-title {
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    width: 390px;
}

.verdana-bottom {
    color: rgb(139, 139, 139);
    font-size: 13.5px;
    font-weight: normal;
    line-height: 20px;
}

.verdana-text {
    font-family: verdana;
    font-size: 14px;
    width: 390px;
}

.button-verdana {
    background-color: green;
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 4px;
}

.text1 {
    font-family: arial;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 4px;
}

.text2 {
    font-family: arial;
    font-size: 13px;
    margin-left: 40px;
}

.text3 {
    font-family: arial;
    font-size: 13px;
    margin-left: 90px;
    color: rgb(7, 94, 195);
}